// Margins
.mb-8 {
  margin-bottom: 8rem !important;
}
.m-plenty{
  @include respond(tab-port-sm) {
    margin-top: 200px;
  }
 


}
rounded-full{
  border-radius: 50%;
}
// Scroll Reveal UX
.load-hidden {
  visibility: hidden;
}
